*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --bg: #212121;
    --outline:#2e2e2e;
    --text: #ffffff;
    --green: #188703;
    --greenOutline:#2EB812;
    --hover:#15BF00;
    --hoverOutline:#42F21F;
    --yellow: #BFA900;
    --gray: #333;
    --boxText:#fff;
    --navColor:#ffffff;
}

.main{
    height: 100vh;
    background-color:var(--bg) ;
    color: var(--text);
    transition: 0.2s all ease;
}

.alert{
   position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);

    background-color: #2e2e2e;
    color:white;
    padding: 5px 10px;
    border-radius: 10px;

    font-size: 14px;
    letter-spacing: 0.5px;
    white-space: pre-wrap;

    opacity: 0;
    pointer-events: none;
    transition: all 0.25s cubic-bezier(0.2, 0.8, 0.2, 1);
    z-index: 1000;
    border: 1px solid #4c4c4c;
}

.alert.show{
    opacity: 1;
    transform: translateX(-50%) translateY(20px);
}
.nav{
    height: 70px;
    border-bottom: 1px solid var(--outline);
    color: var(--navColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navRight{
    display: flex;

}

.nav i{
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right:12px;
    font-size: 12px;
}

.tooltip{
    position: absolute;
    transform: translateX(-50%) translateY(10px);

    background: var(--bg);
    color: var(--navColor);
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    border: 1px solid var(--outline);

    white-space: nowrap;
    color: white;
    opacity: 0;
    pointer-events: none;

    transition: all 0.2s ease;
}


.iconWrapper:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(5);
}


.themesContainer {
    position: absolute;
    right: 5%;
    top: 5%;
    max-width: fit-content;
    background-color: var(--bg);
    color: var(--text);
    padding: 16px;
    border: 1px solid var(--outline);
    border-radius: 10px;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    visibility: hidden;

    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
}
.themeDiv{
   margin-bottom: 10px;
   cursor: pointer;
   border-radius: 10px;
   padding: 4px 8px;
   gap: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--green);
   transition: 0.2s all ease;
   
}

.themeDiv:hover{
    background-color: var(--hover);
}

.colors{
    display: flex;
}

.colors:active{
    border: 1px solid var(--greenOutline);
}
.colors .color{
    height: 15px;
    width: 15px;
    border-radius: 5px;
    margin-right: 5px;
    border: 0.1px solid;
}
.themesContainer.reveal {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
}

.newGameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.newGameContainer button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--green);
    color: var(--text);
    outline: 0;
    border: 1px solid var(--greenOutline);
    border-radius: 5px;
    font-weight: bold;
    transition: 0.2s all ease;
}
.newGameContainer button:hover{
    background-color: var(--hover);
    border: 1px solid var(--hoverOutline);
}

.gameContainer{
    height: calc(100vh - 160px);
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.row{
    display: flex;
    margin-bottom: 20px;
    transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.box{
    height: 80px;
    width: 80px;
    border: 3px solid var(--outline);
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--boxText);
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s all ease;

}

.box.correct{
    background-color: var(--green);
}
.box.absent{
    background-color: var(--gray);
}
.box.present{
    background-color: var(--yellow);
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-8px); }
  50%  { transform: translateX(8px); }
  75%  { transform: translateX(-8px); }
  100% { transform: translateX(0); }
}


.row.shake {
    animation: shake 0.4s ease;
}

@keyframes boxPop{
    0% {transform: scale(1); }
    50% {transform: scale(1.1);}
    100% {transform:scale(1)}
}

.box.pop{
    animation: boxPop 0.15s ease;
}